{% extends 'base-template.html' %}
{% block content %}
    <div class="container">
    <h3 align="center">Dashboard</h3>
        <div style="height: 50%;width: 100%; float: left">
            {% if locations == None or locations|length == 0 %}
            <div style="float: left;width:50%;">
                <h3 align="center" class="font-weight-light">No Data Available Yet</h3>
            </div>
            {% else %}
            <!-- Div to list all locations -->
            <div style="float:left;width:50%">
                <table class="table">
                    <thead>
                        <tr>                            
                            <th scope="col">Location Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for location in locations %}
                            <tr>                               
                                <td>{{ location[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if products == None or products|length == 0 %}
            <div style="float: right;width: 50%;">
                <h3 align="center" class="font-weight-light">No Product Data Available Yet</h3>
            </div>
        {% else %}
            <!-- Div to list all products -->
            <div style="float:right;width:50%;">
                <table class="table">
                    <thead>
                        <tr>                            
                            <th scope="col">Product Name</th>
                            <th scope="col">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>                               
                                <td>{{ product[1] }}</td>
                                <td>{{ product[2] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="container" style="float: contour;" align="center">
    <h3 align="center">Products Summary</h3>
        <div class="form-horizontal" title="Summary">
        {% if database == None or database|length == 0 %}
            <h3 align="center" class="font-weight-light">Summary not available yet</h3>
        {% else %}
            <!-- Summary needed -->
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Un-Allocated</th>
                            <th scope="col">Total Count</th>
                        </tr>
                    </thead>
                    <thead>
                        {% for data in database %}
                            <tr>
                                <td>{{ data[0] }}</td>
                                <td>{{ data[1] }}</td>
                                <td>{{ data[2] }}</td>
                            </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}